body{
    /* background-image: url("../Weather\ Assets/sunrise&Setvideo-2.gif"); */
    background-image: url("../WeatherAssets/weather-background5S.gif");
    background-repeat: no-repeat;
    background-size:cover;
    /* background-attachment: fixed; */
    /* overflow: hidden; */
}
.inputColor::placeholder{
    color: white;
    opacity: 1;
    font-size: 20px;
}
/* Start Background colors with background opacity! */
.navBG{
    background-color: rgba(255, 255, 255, 0.24);
}
.searchBarBg{
    background-color: rgb(32, 29, 29, 0.29);
    border-color: black;
}
.currentCityBg{
    background-color: rgba(32, 29, 29, 0.3);
    width: 665px;
    height: 436px;
    border-radius: 50px;
}
.favCardBg{
    width: 600px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}
/* End of bg-colors */
.favHeight{
    min-height: 1200px;
}
/* Need to import all 4 fonts */
.impactFont{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fontIceberg{
    font-family: Iceberg;
}
/* ENd of font classes */
.x-button{
    width: 30px;
    margin-left: auto;
    margin-top: 20px;
}