@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
body {
    background-image: url("../WeatherAssets/weather-background5S.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.inputColor::placeholder { /* this class adds white color towards the search bar */
    color: white;
    opacity: 1;
    font-size: 20px;
}
.favHeight {
    min-height: 1200px;
}
.x-button {
    width: 30px;
    margin-left: auto;
    margin-top: 20px;
    border-radius: 10px;
}
/* Start Background colors with background opacity! */
.navBG {
    background-color: rgba(255, 255, 255, 0.24);
}

.searchBarBg {
    background-color: rgb(32, 29, 29, 0.29);
    border-color: black;
}
.currentCityBg {
    background-color: rgba(32, 29, 29, 0.3);
    width: 665px;
    height: 436px;
    border-radius: 50px;
}
.favCardBg {
    width: 600px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}
/* End of bg-colors */

/* Start declaring font classes */

/* Heading fonts */
.impactFont {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Navbar font */
@font-face {
    font-family: "Iceberg";
    src: url("../fonts/Iceberg-Regular.ttf");
}
.fontIceberg {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* temperature font */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* Favorites card fonts */
.font-imprima {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-kavoon {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}
/* End of font classes */